---
- name: Configurar crontab para instalar mysql
  hosts: localhost
  become: true

  tasks:
    - name: Copiar script
      copy: 'src=/root/Scripts/Puesta_a_punto/instalar_mysql.sh dest=/root/Scripts/Puesta_a_punto/instalar_mysql.sh'
    - name: ejecutar
      command: "/root/Scripts/Puesta_a_punto/instalar_mysql.sh"
